<ng-container *ngIf="display$ | async as display">
    <section [class.open]="display === 'open'"
                (click)="close()">
        <div (click)="$event.stopPropagation()" *ngIf="mode$ | async as mode">
            
            <h1 *ngIf="mode == 'new'">Add New Job Post</h1>
            <h1 *ngIf="mode == 'edit'">Edit Job Post</h1>

            <form [formGroup]="addJobForm" novalidate class="row">
                <div>
                    <input type="text" name="job-title-field" placeholder="Job title" id="job-title-field"
                    formControlName="jobTitle">
                </div>
                <div>
                    <select id="job-sector-select" name="job-sector-select"
                    formControlName="jobSector" value="sector">
                        <option value="Computer Software">Computer Software</option>
                        <option value="Airlines">Airlines</option>
                        <option value="Administration">Administration</option>
                        <option value="Sales">Sales</option>
                    </select>
                </div>
                
                <div>
                    <select id="job-country-select" name="job-country-select"
                    formControlName="jobCountry" value="country">
                        <option value="Palestine">Palestine</option>
                        <option value="Lebanon">Lebanon</option>
                        <option value="Jordan">Jordan</option>
                        <option value="Saudi Arabia">Saudi Arabia</option>
                    </select>
                </div>
                
                <div>
                    <select id="job-city-select" name="job-city-select"
                    formControlName="jobCity" value="city">
                        <option value="Nablus">Nablus</option>
                        <option value="Beirut">Beirut</option>
                        <option value="Amman">Amman</option>
                        <option value="Riyadh">Riyadh</option>
                    </select>
                </div>
                
                <textarea placeholder="Description" formControlName="jobDescription"></textarea>

                <div class="actions">
                    <button class="secondary"
                        type="button"
                        (click)="close()">Cancel</button>
                        
                    <button class="primary" (click)="addJob()" *ngIf="mode == 'new'"
                        type="button">Add New Job</button>

                    <button class="primary" (click)="editJob()" *ngIf="mode == 'edit'"
                        type="button">Edit Job</button>
                </div>
            </form>
        </div>
    </section>
</ng-container>